@{
    Layout = "_Layout";
}

<div class="container">
    </style>
    <div class="row justify-content-center">
        <div class="col-md-14 text-center mt-12">
            <h1 class="display-4">Bengts Bilservice</h1>
            <img src="https://fra1.digitaloceanspaces.com/knivstamotor/cmsplugins/parallax_image_header/images/1591991335-bilverkstad.jpg" class="img-fluid" alt="Bengts Bilservice Image">
        </div>
    </div>
</div>

